﻿@model  List<Widget>

@{
    ViewData["Title"] = "Bill of Material";
}
<h2>@ViewData["Title"]</h2>
<div id="BOM">
    ----------------------------------------------------------------
    Bill of Materials
    ----------------------------------------------------------------
    <div>
        @foreach (Widget item in Model)
        {
            <p>
                @Html.Raw(item.Output);
            </p>
        }
    </div>
    ----------------------------------------------------------------
</div>