﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Create a Bill Of Material</h2>
        <a asp-area="" asp-controller="Home" asp-action="CreateBill">CreateBill</a>
    </div>
</div>
